<div class="summary-section">
    <div class="summary-grid">
        <div class="summary-card">
            <div class="summary-header">
                <mat-icon class="summary-icon" fontIcon="group"></mat-icon>
                <h3 class="summary-title">Total de Funcionários </h3>
            </div>
            <div class="summary-value">{{ totalEmployees }}</div>
        </div>

        <div class="summary-card">
            <div class="summary-header">
                <mat-icon class="summary-icon" fontIcon="celebration"></mat-icon>
                <h3 class="summary-title">Total de Festas</h3>
            </div>
            <div class="summary-value"> {{ totalParty }}</div>
        </div>

        <div class="summary-card">
            <div class="summary-header">
                <mat-icon class="summary-icon" fontIcon="payments"></mat-icon>
                <h3 class="summary-title">Total Pago</h3>
            </div>
            <div class="summary-value">{{ totalValue }}</div>
        </div>
    </div>
</div>