.login-sidebar {
  flex: 0 0 600px;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: 100vh;
  width: 600px;
}

.login-sidebar-content {
  text-align: center;
  max-width: 300px;
}

.user-icon {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
  font-size: 32px;

  img {
    width: 512px;
    height: 341px;
  }
}

.login-sidebar-title {
  font-size: 28px;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.features-list {
  text-align: left;
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: var(--secondary-color);
}