.sidebar {
  background-color: var(--secondary-color);
  color: var(--white);
  min-height: 100vh;
  width: 250px;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
}

.nav-link{
  cursor: pointer;
}

.sidebar-header {
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-icon {
  color: var(--primary-color);
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.sidebar-nav {
  padding: 20px 0;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 5px;
}

.sidebar-nav a {
  color: var(--white);
  text-decoration: none;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  font-weight: 400;
}

.sidebar-nav a:hover,
.sidebar-nav a.active {
  background-color: rgba(255, 255, 255, 0.1);
  border-right: 3px solid var(--primary-color);
}

.sidebar-nav .icon {
  margin-right: 12px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: var(--white);
}

.sidebar-nav a:hover .icon,
.sidebar-nav a.active .icon {
  color: var(--primary-color);
}

.mobile-toolbar {
  display: none; 
  background-color: var(--secondary-color);
  color: var(--white); 
}

.mobile-toolbar mat-icon {
  color: var(--white);
}

.mobile-toolbar span {
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--white);
}

/* Responsividade */
@media (max-width: 990px) {
.mobile-toolbar {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 16px;
  }
  .sidebar {
    visibility: hidden;
    opacity: 0;
    top: 56px; 
    left: 0;
    width: 50%;
    z-index: 1000;
    transform: translateX(-50%);
    transition: 0.5s ease;
  }

  .sidebar.sidebar-open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0s;
    width: 50%;

    .sidebar-header{
      display: none;
    }
  }

  .sidebar-nav {
    flex-direction: column;
    padding: 10px;
  }

  .sidebar-nav ul {
    flex-direction: column;
    white-space: normal;
  }

  .sidebar-nav li {
    margin: 5px 0;
  }
}