<div class="sidebar">
  <div class="sidebar-header">
    <h2 class="sidebar-title">
      <mat-icon class="header-icon" fontIcon="celebration"></mat-icon>
      Balloons Recepções
    </h2>
  </div>
  
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <mat-icon class="icon" fontIcon="dashboard"></mat-icon>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/party-registration" routerLinkActive="active">
          <mat-icon class="icon" fontIcon="work"></mat-icon>
          Trabalhos
        </a>
      </li>
      <li>
        <a routerLink="/event-components" routerLinkActive="active">
          <mat-icon class="icon" fontIcon="group"></mat-icon>
          Cadastro
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <mat-icon class="icon" fontIcon="assessment"></mat-icon>
          Relatórios
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <mat-icon class="icon" fontIcon="trending_up"></mat-icon>
          Histórico
        </a>
      </li>
      <li>
        <a class="nav-link" (click)="logout()">
          <mat-icon class="icon" fontIcon="exit_to_app"></mat-icon>
          Sair
        </a>
      </li>
    </ul>
  </nav>
</div>

