<mat-toolbar color="primary" class="mobile-toolbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Gerenciador de Recepções</span>
</mat-toolbar>

<div class="sidebar" [class.sidebar-open]="isSidebarOpen">
    <div class="sidebar-header">
      <h2 class="sidebar-title">
        Gerenciador de Recepções
      </h2>
    </div>

  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <mat-icon class="icon" fontIcon="dashboard"></mat-icon>
          Relatórios
        </a>
      </li>
      <li>
        <a routerLink="/dashboard-date" routerLinkActive="active">
          <mat-icon class="icon" fontIcon="dashboard"></mat-icon>
          Relatórios Por Data
        </a>
      </li>
      <li>
        <a routerLink="/party-registration" routerLinkActive="active">
          <mat-icon class="icon" fontIcon="work"></mat-icon>
          Festas Pendentes
        </a>
      </li>
      <li>
        <a routerLink="/event-components" routerLinkActive="active">
          <mat-icon class="icon" fontIcon="group"></mat-icon>
          Cadastro Equipe e Materiais
        </a>
      </li>
      <li>
        <a routerLink="/party-all-list" routerLinkActive="active">
          <mat-icon class="icon" fontIcon="work"></mat-icon>
          Festas
        </a>
      </li>
      <li>
        <a class="nav-link" (click)="logout()">
          <mat-icon class="icon" fontIcon="exit_to_app"></mat-icon>
          Sair
        </a>
      </li>
    </ul>
  </nav>
</div>
