mat-dialog-content{
    padding-top: 16px !important;
}

.button{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 12px;
    padding-top: 16px;
}

.table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);

  .table-header, .table-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 32px;
    background-color: var(--primary-color);
    color: var(--white);
    
    .title, .title-buttons{
      font-size: 16px;
      text-align: center;
      flex: 1;
    }

    .title-buttons{
      display: flex;
      justify-content: center;
      gap: 12px;
    }
  }
  .table-row{
    background-color: var(--background-color);
    color: var(--text-color);
  }
}