<form>
    @for (item of group(); track $index) {
        @if (isInput(item)) {
            <app-input
                [form]="form()"
                [type]="item.type"
                [label]="item.label"
                [formControl]="item.controlName"
                [placeholder]="item.placeholder"
            ></app-input>
        }@else if (isSeleect(item)) {
            <app-select
                [form]="form()"
                [label]="item.label"
                [formControl]="item.controlName"
                [options]="item.options ?? []"
            ></app-select>
        }
    }
</form>