<div class="page-layout">

  <div class="main-content">
    <div class="page-header">
      <h1 class="page-title">Cadastro de Garçons</h1>
    </div>

    <div class="content-wrapper">
      <!-- seção de cadastro dos garçons -->
      <div class="section">
        <app-form 
        [group]="formGroupItensPrimary" 
        [form]="formPrimary"
        >
      </app-form>
        <button type="submit" class="btn btn-primary" (click)="createGarcom()">Cadastrar</button>

        <!-- lista de garçons -->
        <div class="waiters-section">
          <h3 class="subsection-title">Garçons Cadastrados</h3>

          <div class="waiters-list">
            <div class="waiter-item">
              <div class="waiter-info">
                <div class="table">
                  <div class="table-header">
                    <div class="title">
                      Nome
                    </div>
                    <div class="title">
                      Chave Pix
                    </div>
                    <div class="title">
                      Telefone
                    </div>
                    <div class="title">
                      Status
                    </div>
                    <div class="title">
                      Ações
                    </div>
                  </div>
                  @for (item of ListGarcoms; track $index) {
                  <div class="table-row">
                    <div class="title">
                      {{item.name}}
                    </div>
                    <div class="title">
                      {{item.pixKey}}
                    </div>
                    <div class="title">
                      {{item.phone}}
                    </div>
                    <div class="title">
                      {{item.statusGarcom}}
                    </div>
                    <div class="title">
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="editGarcom(item.id)">Editar Garçom</button>
                        <button mat-menu-item (click)="deleteGarcom(item.id)">Excluir Garçom</button>
                        <button mat-menu-item (click)="viewFestas(item.id)">Visualizar Garçom</button>
                      </mat-menu>
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon fontIcon="menu"></mat-icon>
                      </button>
                    </div>  
                  </div>
                }
                <mat-paginator 
                [length]="totalElements" 
                [pageSize]="pageSize"
                (page)="onChangePage($event)"
                hidePageSize
                ></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- seção de cadastro dos materiais -->
      <div class="section materials-section">
        <h2 class="section-title">Cadastro de Materiais</h2>

        <div class="form-group">
          <app-form 
          [group]="formGroupItensSecondary" 
          [form]="formSecondary"
          >
        </app-form>
        </div>

        <button 
        type="submit" 
        class="btn btn-primary"
        (click)="createMaterial()"
        >
          Cadastrar
        </button>

        <!-- lista de materiais -->
        <div class="materials-list">
          <div class="material-item">
            <div class="table">
              <div class="table-header">
                <div class="title">
                  Tipo de material
                </div>
                <div class="title">
                  Ações
                </div>
              </div>
              @for (item of ListMaterials; track $index) {
              <div class="table-row">
                <div class="title">
                  {{item.description}}
                </div>
                <div class="title-buttons">
                  <button mat-button class="btn btn-primary btn-sm" (click)="editMaterial(item.id)">
                    Editar Material
                  </button>
                  <button mat-button class="btn btn-secondary btn-sm" (click)="deleteMaterial(item.id)">
                    Excluir
                  </button>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>