<h2 mat-dialog-title>
  🎉 Festa {{ listViewParty.location }}
</h2>

<mat-dialog-content>
  <div class="row mb-3">
    <div class="col-6 mb-2">
      <span class="label">Cliente:</span>
      <span class="value">{{ listViewParty.nameClient }}</span>
    </div>
    <div class="col-6 mb-2">
      <span class="label">Data:</span>
      <span class="value">{{ listViewParty.date }}</span>
    </div>
    <div class="col-6 mb-2">
      <span class="label">Material:</span>
      <span class="value">{{ listViewParty.material.description }}</span>
    </div>
    <div class="col-6 mb-2">
      <span class="label">Número de Pessoas:</span>
      <span class="value">{{ listViewParty.numberOfPeople }}</span>
    </div>
    <div class="col-6 mb-2">
      <span class="label">Status:</span>
      <span class="value">
        {{ listViewParty.status }}
      </span>
    </div>
  </div>

  <h2 class="mt-3 mb-2">
    <mat-icon class="icon" fontIcon="person_apron"></mat-icon>
     Garçons
    </h2>
  <div class="table">
    <div class="table-header">
      <div class="title">Nome</div>
      <div class="title">Telefone</div>
      <div class="title">Pix</div>
      <div class="title">Status</div>
    </div>

    @for (garcom of listViewParty.garcoms; track $index) {
      <div class="table-row">
        <div class="title">{{ garcom.name }}</div>
        <div class="title">{{ garcom.phone }}</div>
        <div class="title">{{ garcom.pixKey }}</div>
        <div class="title">
          <span class="status status-{{ garcom.statusGarcom }}">
            {{ garcom.statusGarcom }}
          </span>
        </div>
      </div>
    }
  </div>
</mat-dialog-content>
