<div class="sidebar">
  <div class="sidebar-header">
    <h2 class="sidebar-title">
      <mat-icon class="header-icon">celebration</mat-icon>
      Party House
    </h2>
  </div>
  
  <nav class="sidebar-nav">
    <ul>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <mat-icon class="icon">dashboard</mat-icon>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/party-registration" routerLinkActive="active">
          <mat-icon class="icon">work</mat-icon>
          Trabalhos
        </a>
      </li>
      <li>
        <a routerLink="/event-components" routerLinkActive="active">
          <mat-icon class="icon">group</mat-icon>
          Cadastro
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <mat-icon class="icon">assignment</mat-icon>
          Relatórios
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <mat-icon class="icon">trending_up</mat-icon>
          Histórico
        </a>
      </li>
      <li>
        <a routerLink="/login" class="nav-link">
          <mat-icon class="icon">exit_to_app</mat-icon>
          Sair
        </a>
      </li>
    </ul>
  </nav>
</div>

