<div class="page-layout">
  
  <div class="main-content">
    <div class="page-header">
      <h1 class="page-title">Lançamento de Trabalhos</h1>
    </div>
    
    <div class="content-wrapper">
      <app-form
      [group]="formGroupItens"
      [form]="form"
      ></app-form>
      <button type="submit" class="btn btn-primary" (click)="createParty()">Lançar Trabalho</button>
      
      <div class="parties-section">
        <h2 class="section-title">Festas cadastradas</h2>
        
        <div class="parties-list">
          <div class="party-item">
            <div class="party-info">
               <div class="table">
                  <div class="table-header">
                    <div class="title">
                      Nome Do cliente
                    </div>
                    <div class="title">
                      Local da festa
                    </div>
                    <div class="title">
                      Valor diária 
                    </div>
                    <div class="title">
                      Material
                    </div>
                    <div class="title">
                      Ações
                    </div>
                  </div>
                  @for (item of listParty; track $index) {
                  <div class="table-row">
                    <div class="title">
                      {{item.nameClient}}
                    </div>
                    <div class="title">
                      {{item.location}}
                    </div>
                    <div class="title">
                      {{item.valuePerDay}}
                    </div>
                    <div class="title">
                      {{item.material.description}}
                    </div>
                    <div class="title-buttons">
                      <button mat-button class="btn btn-primary btn-sm" >
                        Editar Festa
                      </button>
                      <button mat-button class="btn btn-secondary btn-sm" >
                        Excluir
                      </button>
                    </div>
                  </div>
                  }
                </div>
                <mat-paginator 
                [length]="totalElements" 
                [pageSize]="pageSize"
                (page)="onChangePage($event)"
                hidePageSize
                ></mat-paginator>
              </div>
            </div>
            <div class="party-actions">
              <button class="btn btn-primary btn-sm">Adicionar Garçons</button>
            </div>
          </div>
        </div>
        
        <div class="party-placeholder">
          <div class="placeholder-box">
            <p>Nenhuma festa cadastrada ainda</p>
          </div>
        </div>
      </div>
    </div>
  </div>

